/* index page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* about page */

body .body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: green;
}

header .header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

main .main {
    padding: 2rem;
}

section .section {
    margin-bottom: 2rem;
}

footer .footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
/* images side by side */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

figure {
    margin: 10px; /* Optional spacing between images */
}
/* place this to prevent error in code on validator */
.h2 {
   display:none;
}

img:hover {
    box-shadow: 0 0 50px black;
}
/* on reference page */
footer ul {
    list-style-type: none;
    padding: 0;
}
.reference {
    color: red;
}
.renderRed {
    color: red;
}





